<h2 style="text-align:center" class="text-info">Add Product</h2>



    <form #empForm=ngForm (ngSubmit)="addData()" style="background-color:powderblue;"><br>
      <div class="form-group row">
        <label for="inputId" class="col-sm-2 col-form-label">&nbsp;&nbsp;Product ID</label>
            <div class="col-sm-10" style="padding-left: 50px; padding-right: 50px;">
            <input type="text" class="form-control" name="id" id="eid" [(ngModel)]="proId" #idControl="ngModel" required  >
            <span  class="alert alert-danger" role="alert" *ngIf="idControl.touched && idControl.invalid">ID should be filled</span>    
        </div>
                 
                  </div><br>

                  <div class="form-group row">
                <label for="inputName" class="col-sm-2 col-form-label">&nbsp;&nbsp;Product Name</label>
                    <div class="col-sm-10" style="padding-left: 50px; padding-right: 50px;">
                    <input type="text" class="form-control" [(ngModel)]="proName" id="ename" name="nname" #nameControl="ngModel" required>
                    <span  class="alert alert-danger" role="alert" *ngIf="nameControl.touched && nameControl.invalid">Name should be filled</span>    
                </div>
        </div><br>
        <div class="form-group row">
                <label for="inputCost" class="col-sm-2 col-form-label">&nbsp;&nbsp;Product Cost</label>
                    <div class="col-sm-10" style="padding-left: 50px; padding-right: 50px;">
                    <input type="text" class="form-control" [(ngModel)]="proCost" id="esalary" name="salary" #salaryControl="ngModel" required>
                    <span  class="alert alert-danger" role="alert" *ngIf="salaryControl.touched && salaryControl.invalid">Cost should be filled</span>
                </div>
        </div><br>
       
        <fieldset class="form-group">
        <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">&nbsp;&nbsp;Product Online</legend>
        <div class="col-sm-10" style="padding-left: 50px; padding-right: 50px;">
        <div class="form-check" >
        <input class="form-check-input" type="radio" [(ngModel)]="proOnline" name="online" value="YES" id="on1" #onlineControl="ngModel" required >
        <label class="form-check-label" for="on1">
        Yes
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="radio" [(ngModel)]="proOnline" name="online" value="NO" id="on2" #onlineControl="ngModel" required>
        <label class="form-check-label" for="on2">
        No
        </label>
        </div>
        </div>
        </div>
        <span class="alert alert-danger" role="alert" *ngIf="onlineControl.touched && onlineControl.invalid">It should be Selected</span> 
        </fieldset><br>
         
        <label class="form-check-label" for="check1">
        &nbsp;&nbsp;Product Category
        </label>
        <div class="col-sm-10" style="padding-left: 200px; padding-right: 200px;">
        <select class="custom-select" id="ecategory" name="category" [(ngModel)]="proCate" #cateControl="ngModel" required>
         <option value="D Item">Grocery</option>
        <option value="B Item">Mobile</option>
        <option value="C Item">Electronics</option>
        <option value="A Item">Cloths</option>
        </select>
        <span class="alert alert-danger" role="alert" *ngIf="cateControl.touched && cateControl.invalid">It should be Selected</span> 
    </div>      
        <br><br>
        <div class="form-group row">
        <div class="col-sm-2">&nbsp;&nbsp;Available in Store</div>
        <div class="col-sm-10" style="padding-left: 50px; padding-right: 50px;">
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check1" name="Course" [(ngModel)]="proStore1" value="Big Bazaar" #storeControl="ngModel" required >
        <label class="form-check-label" for="check1">
        Big Bazaar
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check2" name="Course" [(ngModel)]="proStore2" value="Dmart" #storeControl="ngModel" required >
        <label class="form-check-label" for="check2">
        Dmart
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check3" name="Course" [(ngModel)]="proStore3" value="Reliance" #storeControl="ngModel" required >
        <label class="form-check-label" for="check3">
        Reliance
        </label>
        </div>
        <div class="form-check">
        <input class="form-check-input" type="checkbox" id="check4" name="Course" [(ngModel)]="proStore4" value="Mega Store" #storeControl="ngModel" required>
        <label class="form-check-label" for="check4">
        Mega Store
        </label>
        </div>
        <span class="alert alert-danger" role="alert" *ngIf="storeControl.touched && storeControl.invalid">Store should be Selected</span> 
        </div>
        </div>
  
   
   
      
   

<br>

   <div> <input type="submit" (click)="addData()" class="btn btn-primary" value="Add Product" [disabled]="empForm.invalid" /></div>
 


  
</form>

