<h1 style="text-align:center" class="text-primary" > WELCOME TO ANGULAR 8</h1>
<nav>

        <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link " href="add" style="text-align:center">Add Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="show" >Show Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="search">Search Product</a>
                </li>
               
              </ul>
   
</nav>

<router-outlet></router-outlet>